body {
  background-color: black; /* Здесь можно указать любой цвет, например, название цвета или его код */
}
a{
  text-decoration: none;
}
.Main-Container {
  width: 90%;
  height: 90%;
  background-color: #2B3869;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  overflow: scroll;
}
.Menu-Container{
  width: 85%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Центрирует блок по горизонтали */
  margin-top: 5%;
}
.Back-Button{
  width: 15%;
  height: 100%;

  display: flex;
  justify-content: center; /* Центрирует по горизонтали */
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.Path-Form{
  width: 70%;
  height: 80%;
  background-color: #465690;
  display: flex;
  justify-content: center; /* Центрирует по горизонтали */
  align-items: center;
}
.Sort-Button{
  width: 15%;
  height: 100%;

  display: flex;
  justify-content: center; /* Центрирует по горизонтали */
  align-items: center;
  cursor: pointer;

}
.Path-Form-Container{
  width: 95%;
  height: 50%;
  background-color: white;
  display: flex;
  justify-content: left; /* Центрирует по горизонтали */
  margin-left: 5px;
  align-items: center;
  border-radius: 25px;
}
.B-but{
  width: 60%;
  height: 80%;
  background-color: #465690;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: contain;
  display: flex;
  color: white;
  justify-content: center; /* Центрирует по горизонтали */
  align-items: center;
}
.S-but{
  width: 70%;
  height: 80%;
  background-color: #465690;
  color: white;
  display: flex;
  justify-content: center; /* Центрирует по горизонтали */
  align-items: center;
  font-size: 80%;
}
.File-Container{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: fit-content;
  display: flex;
  /* Центрирует блок по горизонтали */
  justify-content: center; /* Центрирует по горизонтали */
  align-items: center;
  border-radius: 25px;
  flex-direction: column;
}
.File-Menu-Container{
  width: 100%;
  height: 50px;
  display: flex;
  background-color: #465690;
  box-shadow: 5px 2px 2px #466690;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.Spiner{
  background-color: white;
  width: 50%;
  height: 10%;
  margin: 5px auto;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.Type-con{
  width: 10%;
  height: 90%;
  display: flex;
  justify-content: center; /* Центрирует по горизонтали */
  align-items: center;
}
.Type{
  width: 90%;
  height: 80%;
  background-color: white;
  border-radius: 25px;
  display: flex;
  justify-content: center; /* Центрирует по горизонтали */
  align-items: center;
  font-size: 80%;
}
.Name-Form{
  width: 70%;
  height: 80%;

  display: flex;
  justify-content: center; /* Центрирует по горизонтали */
  align-items: center;
}
.Name-Form-Container{
  width: 95%;
  height: 80%;
  background-color: white;

  display: flex;
  justify-content: center; /* Центрирует по горизонтали */
  align-items: center;
  border-radius: 25px;
}
#path{
  cursor:pointer;
}
.Spin-Con{
  width: 10%;
  height: 80%;
  margin-left: 1%;
  display: flex;
  justify-content: center; /* Центрирует по горизонтали */
  align-items: center;
  border-radius: 25px;
}
.Size-Form{
  width: 15%;
  height: 80%;

  display: flex;
  justify-content: center; /* Центрирует по горизонтали */
  align-items: center;
}
.Size{
  width: 70%;
  height: 80%;
  background-color: white;
  border-radius: 25px;
  display: flex;
  justify-content: center; /* Центрирует по горизонтали */
  align-items: center;
  font-size: 55%;
}
.BD {
  background-color: white;
  width: 80px;
  height: 25px;
  margin-left: 47.2%;
  margin-top: 10px;
}